body, body * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: url('1111.png') no-repeat 0 0;
    background-size: cover;

}

*::selection {
    color: pink;
    background: white;
}

.wrap {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 64px 50px 1fr 50px 40px
}

.name {
    background: #b3e5fc;
    grid-area: 1/1/2/7;
    z-index: 10;
}

    .name p {
        color: white;
        text-align: center;
        font-size: 18px;
        line-height: 30px
    }

.header {
    z-index: 9;
    background-color: #00bcd4;
    grid-area: 2/1/3/7;
    line-height: 64px;
    box-shadow: 0px -1px 9px 0 black;
    padding-right: 10%;
    padding-left: 10%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

.header ul {
    list-style: none;
    color: white;
    font-size: 18px;
    float: right;
}

    .header ul li {
        display: inline-block;
        height: 100%;
        padding: 0 20px;
        transition: all .8s ease 0s
    }

.logo {
    position: absolute;
    display: inline-block;
    padding: 0;
    font-size: 30px;
    color: white;
    animation: big 1.5s infinite 0s linear;
}


@keyframes big {
    0% {
    }

    50% {
        transform: scale(1.1);
    }
}
.header ul li a {
    text-decoration: none;
    color: white;
}

.header ul li:hover {
    background: #03a9f4;
    cursor: pointer;
}

.header ul li:first-child {
    margin-right: -5px;
}

.header ul li:nth-child(2) {
    margin-right: -5px;
}
#head, #head1, #head2, #head3 {
    display: none;
}

.active {
    background: #03a9f4 !important;
}

footer {
    background: #1976d2;
    color: white;
    line-height: 40px;
    grid-area: 6/1/7/7;
}

    footer p {
        text-align: center;
        font-size: 16px;
    }

.scores {
    grid-area: 3/6/4/7;
    background: white;
    padding-top: 10px;
    color: #009688;
    text-align: center;
}

.star1 {
    width: 200px;
    position: absolute;
    top: 500px;
    left: 100px;
    animation: krug 2s infinite 0s linear;
}
.star2 {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 500px;
    animation: krugbig 2s infinite 0s linear;
}

@keyframes krug {
    0% {
        transform: rotate(360deg);
    }
}
@keyframes krugbig {
    0% {
        transform: rotate(360deg) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.1);
    }
}
@keyframes lef {
    0% {
        left: 900px;
    }
    50% {
        left: 600px;
    }
    100% {
        left:900px;
    }
}
.riba {
    width: 200px;
    position: absolute;
    top: 400px;
    animation: lef 2s infinite 0s linear;
}

.racu {
    width: 200px;
    position: absolute;
    top: 600px;
    left:900px;
    animation: opa 2s infinite 0s linear;
}

.help {
    width: 800px;
    height: 600px;
    background: #e0f7fa;
    border: 5px solid #26c6da;
    position: absolute;
    top: 100px;
    z-index: 100;
    left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: help 5s linear;
    opacity:0;
}
@keyframes help {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

    .help * {
        text-align: center;
        font-size: 70px;
        color: #26c6da;
        font-weight: bold;
    }
@keyframes opa {
    0% {
        opacity: 1;
    }

    50% {
        opacity:.5;
    }

}

@media (max-width: 750px) {
    .wrap {
        height: auto;
        
    }

    #head, #head1, #head2, #head3 {
        display: block;
    }

    .wrap {
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 30px 64px 40px 40px 40px 30px 1fr 30px 40px;
        min-height: 800px;
        max-height: 800px !important;
    }

    .header {
        display: none !important;
    }
    .scores {
        grid-area:6/2/7/3;
        padding:0;  
    }
        .scores * {
        display: inline-block;
        }
    .logo {
        position: static;
        border-bottom: 2px solid white;
        z-index: 9;
        background-color: #00bcd4;
        grid-area: 2/1/3/4;
        line-height: 64px;
        text-align: center;
        animation: none;
    }

    #head1 {
        border-bottom: 2px solid white;
        width: 100%;
        grid-area: 3/1/4/4;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
        background: #00bcd4;
        color: white;
        text-decoration: none;
    }

    #head2 {
        border-bottom: 2px solid white;
        width: 100%;
        grid-area: 4/1/5/4;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
        background: #00bcd4;
        color: white;
        text-decoration: none;
    }

    #head3 {
        border-bottom: 2px solid white;
        width: 100%;
        background: #00bcd4;
        color: white;
        text-decoration: none;
        grid-area: 5/1/6/4;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
    }


    footer {
        background: #1976d2;
        color: white;
        line-height: 40px;
        grid-area: 12/1/13/4;
    }
        footer p {
            background: #1976d2;
        }

    
    .riba { 
        display:none;
    }

    .racu {
        top: 40vh;
        left: 40vw;
    }

    .help {
        width: 80vw;
        height: 60vh;
        top: 35vh; 
        left: 10vw;
    }
        .help * {
        font-size:36px;
        }
}
