body, body * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: url('111.png') repeat 0 0;
}

*::selection {
    color: pink;
    background: white;
}

.wrap {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 64px 50px 1fr 50px 40px
}

.name {
    background: #b3e5fc;
    grid-area: 1/1/2/7;
    z-index: 10;
}

    .name p {
        color: white;
        text-align: center;
        font-size: 18px;
        line-height: 30px
    }

.header {
    z-index: 9;
    background-color: #00bcd4;
    grid-area: 2/1/3/7;
    line-height: 64px;
    box-shadow: 0px -1px 9px 0 black;
    padding-right: 10%;
    padding-left: 10%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

.header ul {
    list-style: none;
    color: white;
    font-size: 18px;
    float: right;
}

    .header ul li {
        display: inline-block;
        height: 100%;
        padding: 0 20px;
        transition: all .8s ease 0s
    }

.logo {
    position: absolute;
    display: inline-block;
    padding: 0;
    font-size: 30px;
    color: white;
    animation: big 1.5s infinite 0s linear;
}


@keyframes big {
    0% {
    }

    50% {
        transform: scale(1.1);
    }
}
.header ul li a {
    text-decoration: none;
    color: white;
}

.header ul li:hover {
    background: #03a9f4;
    cursor: pointer;
}

.header ul li:first-child {
    margin-right: -5px;
}

.header ul li:nth-child(2) {
    margin-right: -5px;
}
#head, #head1, #head2, #head3 {
    display: none;
}

.form {
    grid-area: 4/3/5/5;
}

    .form form {
        height: 100%;
    }

        .form form fieldset {
            box-sizing: border-box;
            height: 100%;
            padding: 0;
            background: #00bcd4;
            border: 1px solid white;
            padding-top: 5%;
            max-height: 590px;
        }

            .form form fieldset input {
                box-sizing: border-box;
                display: block;
                background: #e2fafd;
                padding-left: 15px;
                width: 70%;
                height: 40px;
                border: 1px solid white;
                margin: 0 auto;
                margin-bottom: 20px;
                font-size: 15px;
            }

            .form form fieldset h1 {
                color: white;
                text-align: center;
                margin: 10px;
            }

#bt {
    margin-top: 20px;
    padding: 0;
    background: white;
    color: #00bcd4;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    transition: all 1s ease 0s;
}


#reppassword {
    margin-bottom: 0;
}

footer {
    background: #1976d2;
    color: white;
    line-height: 40px;
    grid-area: 6/1/7/7;
}

    footer p {
        text-align: center;
        font-size: 16px;
    }

    #bt:hover, #bt1:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

@media (max-width: 728px) {
    .wrap {
        height: auto;
    }

    #head, #head1, #head2, #head3 {
        display: block;
    }

    .wrap {
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 30px 64px 40px 40px 40px 30px 1fr 30px  40px;
    }

    .header {
        display: none !important;
    }

    .logo {
        position: static;
        border-bottom: 2px solid white;
        z-index: 9;
        background-color: #00bcd4;
        grid-area: 2/1/3/4;
        line-height: 64px;
        text-align: center;
        animation: none;
    }

    #head1 {
        border-bottom: 2px solid white;
        width: 100%;
        grid-area: 3/1/4/4;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
        background: #00bcd4;
        color: white;
        text-decoration: none;
    }

    #head2 {
        border-bottom: 2px solid white;
        width: 100%;
        grid-area: 4/1/5/4;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
        background: #00bcd4;
        color: white;
        text-decoration: none;
    }

    #head3 {
        border-bottom: 2px solid white;
        width: 100%;
        background: #00bcd4;
        color: white;
        text-decoration: none;
        grid-area: 5/1/6/4;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
    }
    #fish {
        display: none;
    }
    .form {
        grid-area: 7/2/8/3;
    }

    fieldset {
        max-height: 300px;
        overflow-y: scroll;
    }

    footer {
        background: #1976d2;
        color: white;
        line-height: 40px;
        grid-area: 12/1/13/4;
    }
        footer p {
            background: #1976d2;
        }
}
#fish {
    position: absolute;
    width: 400px;
    top: 200px;
    left: 800px;
    animation: big 1.5s infinite 0s linear;
}
